
<h1>All Products</h1>

<a href="/products/new"> Add New Product</a><br>
<a href="/products?sort=price"> Sort by lowest price</a><br>
<a href="/products?sort=price desc"> Sort by highest price</a><br>
<a href="/products?sort=discount "> Filter to items below $2</a><br>
<a href="/products/random "> Random Product</a><br>

<ul>
  <% Category.all.each do |category| %>
    <li><%= link_to category.name, "/products?category=#{category.name}" %></li>
  <% end %>
</ul>

<%= form_tag "/search", method: :post do %>
 <%= label_tag :search %>
  <%= text_field_tag :search %>
   <%= submit_tag :search %>
   <% end %>

<div class="row">
  <% @all_products.each do |product| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/products/<%= product.id %>">
      <!--   <p><%= product.id %></p> -->
         <p><%= product.name %></p> 
       <!--  <p><%= product.price %></p>
        <p><%= product.description %></p>
        <p><%= product.stock_level %></p> -->
        <div>
          <% if product.images.first %> 
            <img src="<%= product.images.first.image_url %>" width="200" height="200">
            <% else %>
            <p> Error, no image found </p>
          <% end %>
        </div>
      </a>
    </div>
  </div>
  <% end %>
</div>
