
<a href="/products/<%= @find_product.id %>/edit">Edit</a>

<table class="table table-striped">
<th>Name</th>
<th>Price</th>
<th>Image</th>
<th>Description</th>
<th>Stock Level</th>

<tr>
<td><%= @find_product.name %> </td>
<td>    <%= @find_product.price %> </td>
   <td><img src= <%= @find_product.image %> class="img-responsive" alt= <%= @find_product.name %> width= 50px height= 50px></td>
<td><%=@find_product.description %></td>
<td><%=@find_product.stock_level %></td>

</tr>
</table>

<%= link_to"Delete", "/products/#{@find_product.id}",method: :delete%>
  


<br><br><%= @find_product.sale_message %>
<br><br><%= number_to_currency(@find_product.tax) %>
<br><br><%= number_to_currency(@find_product.total) %>
<br><br><%= @find_product.stock_message %>